
.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
    border: 1px solid #ccc;
    max-width: 600px;
    margin: 0 auto;
    background-color: whitesmoke;
}

.calendar .day {
    border: 1px solid #ccc;
    text-align: center;
    
}

.event {
    background-color: lightblue;
    color: #333;
    padding: 2px;
    border-radius: 3px;
    margin-bottom: 2px;
}

@media only screen and (max-width: 600px) {
    .calendar {
        grid-template-columns: repeat(3, 1fr);
        max-width: 300px;
    }
}

